<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8" />
    <title>Volcano plot projet</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-compiler-0.12.10.min.js"></script>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.10.min.css" type="text/css" />
    {{ bokeh_css }}
    {{ bokeh_js }}
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.10.min.js"></script>
    <script type="text/javascript">Bokeh.set_log_level("info");</script>
  </head>
  <body>
  <header>
    <div class="container">
      <h1 class="logo">Volcano app</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('plot') }}">Plot</a></li>
          <li><a href="{{ url_for('board') }}">Board</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
